body {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.black-box {
    width: 80%;
    max-width: 500px;
    background-color: black;
    padding: 20px;
    margin: 0 auto;


    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.form-group {
    margin-bottom: 20px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.welcome-text {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-signin {
    margin-top: 20px;
}

.form-control {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
}

.btn-ingresar {
    background-color: black;
    color: #00ccff;
    border-radius: 20px;
    border: 2px solid #00ccff;
    margin-bottom: 20px;
}

.register-link {
    color: white;
    text-align: center;
}